<!DOCTYPE html>
<!--{% extends 'base.html' %}-->

<!--{% block header %}-->
<!--  <h1>{% block title %}Posts{% endblock %}</h1>-->

<!--{% endblock %}-->

<!--{% block content %}-->
<!--  {% for post in posts %}-->
<!--    <article class="post">-->
<!--      <header>-->
<!--        <div>-->
<!--          <h1>{{ post['title'] }}</h1>-->
<!--          <div class="about">by {{ post['email'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>-->
<!--        </div>-->
<!--        {% if g.user['id'] == post['author_id'] %}-->
<!--          <a class="action" href="{{ url_for('dashboard.update', id=post['id']) }}">Edit</a>-->
<!--        {% endif %}-->
<!--      </header>-->
<!--      <p class="body">{{ post['body'] }}</p>-->
<!--    </article>-->
<!--    {% if not loop.last %}-->
<!--      <hr>-->
<!--    {% endif %}-->
<!--  {% endfor %}-->
<!--{% endblock %}-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
      <div class="box">
              <div class="icon"><i class="fa fa-check-square" aria-hidden="true"></i></div>
              <div class="content">
                  <h3>To-do</h3>
                  <textarea readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam augue,
                      consectetur a nisi ac, vestibulum accumsan nibh. Proin dictum facilisis ullamcorper.
                  </textarea>
              </div>
      </div>
        <div class="box">
          <div class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
          <div class="content">
              <h3>Mood</h3>
              <textarea readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam augue,
                  consectetur a nisi ac, vestibulum accumsan nibh. Proin dictum facilisis ullamcorper.
              </textarea>
          </div>
        </div>
        <div class="box">
          <div class="icon"><i class="fa fa-tint" aria-hidden="true"></i></div>
          <div class="content">
              <h3>Water</h3>
              <textarea readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam augue,
                  consectetur a nisi ac, vestibulum accumsan nibh. Proin dictum facilisis ullamcorper.
              </textarea>
          </div>
        </div>
    </div>
</body>
</html>
