<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trackit - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
  <nav>
    <a class="logo" href="dashboard">trackit</a>
    <ul>
{#      <li><a href="{{ url_for('dashboard.index') }}">Home</a></li>#}
      <li><a href="contact">Contact</a></li>
      {% if g.user %}
{#          <li><a>{{ g.user['email'] }}</a></li>#}
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
      {% else %}
          <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      {% endif %}
    </ul>
  </nav>
</header>

  <div class="container">
      <div class="big_box">
          <div class="background">
              <div class="icon"><i class="fa fa-check-square" aria-hidden="true"></i></div>
              <div class="content">
                  <h3>To-do</h3>
{#                  <textarea readonly style="width: 700px; height: 450px; border: none; resize: none;">#}
{#                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam augue, consectetur a nisi ac, vestibulum accumsan nibh. Proin dictum facilisis ullamcorper.#}
{#                  </textarea>#}
                  <iframe src="https://calendar.google.com/calendar/embed?height=630&amp;wkst=1&amp;bgcolor=%23039BE5&amp;ctz=America%2FVancouver&amp;src=dW5pYW5oMTdvZGkzNWkzanA1aDhmYzRudTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23F6BF26&amp;color=%23D81B60&amp;title=trackit%20demo&amp;showPrint=0" style="border-width:0" width="760" height="630" frameborder="0" scrolling="no"></iframe>
              </div>
          </div>
      </div>
     <div class="big_box">
         <div class="box" style="overflow: auto">
              <div class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
              <div class="content">
                  <h3>Mood</h3>
                  <p>Inspirational Quote:</p>
                  <p>"{{quote}}"</p>
                  <p>- {{author}}</p>
              </div>
          </div>
     </div>
     <div class="big_box">
          <div class="box">
              <div class="icon"><i class="fa fa-tint" aria-hidden="true"></i></div>
              <div class="content">
                  <h3>Water</h3>
                  <p>Recommended amount of water: 4 cups</p>
                  <p>Amount of water drank today: {{water}} cups</p>
                  <form action = /dashboard method="POST">
                      <label for="extrawater">Add Water</label>
                      <input name="extrawater" id="extrawater" type="number" value="0"required>
                      <input type="submit" id="submit" value="Add">
                  </form>
              </div>
          </div>
     </div>
  </div>
</div>
</body>
</html>
