<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trackit - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<header>
  <nav>
    <a class="logo" href="dashboard">trackit</a>
    <ul>
{#      <li><a href="{{ url_for('dashboard.index') }}">Home</a></li>#}
      <li><a href="contact">Contact</a></li>
      {% if g.user %}
{#          <li><a>{{ g.user['email'] }}</a></li>#}
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
      {% else %}
          <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      {% endif %}
    </ul>
  </nav>
</header>

  <div class="container">
      <div class="big_box">
          <div class="background">
              <div class="icon"><i class="fa fa-check-square" aria-hidden="true"></i></div>
              <div class="content">
                  <h3>To-do</h3>
                  <textarea readonly style="width: 700px; height: 450px; border: none; resize: none;">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam augue, consectetur a nisi ac, vestibulum accumsan nibh. Proin dictum facilisis ullamcorper.
                  </textarea>
              </div>
          </div>
      </div>
     <div class="big_box">
         <div class="box">
              <div class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
              <div class="content">
                  <h3>Mood</h3>
                  <textarea readonly style="width: 300px; height: 150px; border: none; resize: none;">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam augue, consectetur a nisi ac, vestibulum accumsan nibh. Proin dictum facilisis ullamcorper.
                  </textarea>
              </div>
          </div>
     </div>
     <div class="big_box">
          <div class="box">
              <div class="icon"><i class="fa fa-tint" aria-hidden="true"></i></div>
              <div class="content">
                  <h3>Water</h3>
                  <textarea readonly style="width: 300px; height: 150px; border: none; resize: none;">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam augue, consectetur a nisi ac, vestibulum accumsan nibh. Proin dictum facilisis ullamcorper.
                  </textarea>
              </div>
          </div>
     </div>
  </div>
</div>
</body>
</html>
