body {
	margin: auto;
	font-family: 'Work Sans', sans-serif;
	padding: 0;
	font-weight: 400;
}

.container
{
    position: fixed;
    width: 100%;
    height: 86%;
    margin: auto;
}

.container .big_box
{
    position: relative;
    left: 7.5%;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    float: left;
}
.container .big_box .box
{
    position: relative;
    width: calc(400px - 30px);
    height: calc(325px - 30px);
    background: #ffffff;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .big_box .background
{
    background: #fff;
    width: calc(800px - 30px);
    height: calc(650px - 30px);
}
.container .box .icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9ee4ff;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon
{
    top: 20px;
    right: calc(50% - 40px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container .box .icon .fa
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: #0d3b4d;
}
.container .box:hover .icon .fa
{
    font-size: 40px;
}
.container .box .content
{
    position: relative;
    top: 100%;
    height: calc(100% - 100%);
    text-align: center;
    padding: initial;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.container .box:hover .content
{
    top: 100px;
    opacity: 1;
}

.container .big_box .icon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9ee4ff;
    transition: 0.5s;
    z-index: 1;
}
.container .big_box:hover .icon
{
    top: 20px;
    right: calc(50% - 40px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container .big_box .icon .fa
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: #0d3b4d;
}
.container .big_box:hover .icon .fa
{
    font-size: 40px;
}
.container .big_box .content
{
    position: relative;
    top: 100%;
    height: calc(100% - 100%);
    text-align: center;
    padding: initial;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.container .big_box:hover .content
{
    top: 100px;
    opacity: 1;
}

h3
{
    margin: auto;
    padding: initial;
    color:#000;
    font-size: 24px;
}
