@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html {
  font-family: sans-serif;
  background-color: #0d3b4d;
  padding: 0;
}

body {
  top: 0;
  position: relative;
  min-height: 100%;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: auto;
}

header {
  background: #03727d;
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

.content {
    margin-top: 20px;
    padding: 0px 70px 0px 70px;
    position: relative;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: none;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

/* Nav bar code */
/*
.nav-toggle {
  position: fixed;
  right: 20px;
  top: -9999px !important;
  left: -9999px !important;
}
/*
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(104, 224, 237, .75);
}

.nav-toggle-label {
  position: fixed;
  right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #ebfffe;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: fixed;
  right: 20px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: fixed;
  right: 20px;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
} */

nav {
  background: #03727d;
  top: 100%;
  left: 0;
  width: 100%;
  display: block;
  align-items: center;
  padding: 0;
}

nav a {
  color: #ebfffe;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: opacity 150ms ease-in-out;
  font-family: 'Josefin Sans', sans-serif;
}
/*
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
 */

@media screen and (min-width: 800px) {
  /*.nav-toggle-label {
    display: none;
  } */

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2;
    color: #ebfffe;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    margin: 0 auto 0 auto;
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: lowercase;
  }

  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    margin-right: -240px;
    list-style-type: none;
  }

  nav li {
    margin-left: 2em;
    margin-bottom: auto;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #ebfffe;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}
/* End of nav bar code */